<tr id="<%= dom_id municipe %>">
  <td><%= municipe.full_name %></td>
  <td><%= municipe.cpf %></td>
  <td><%= municipe.phone %></td>
  <td><%= municipe.email %></td>
  <td><%= municipe.birth_date %></td>
  <td><%= link_to "Editar", edit_municipe_path(municipe), class: "btn btn-outline-primary" %></td>
</tr>
