<div class="d-flex justify-content-between align-items-center">
  <h4>Municipes</h4>
  <%= link_to "Novo", new_municipe_path, class: "btn btn-primary text-white" %>
</div>

<div id="municipes">
  <%= form_with(url: municipes_path, method: :get) do |form| %>
    <%= form.label :search, "Search:", class: "block mb-2" %>
    <div class="flex space-x-3">
      <%= form.text_field :search, value: params[:search], class: "py-3 px-4 rounded border ring-0 focus:ring-4 focus:ring-orange-100 focus:shadow-none focus:border-orange-500 focus:outline-none" %>

      <%= form.submit 'Search', class: "px-4 py-3 font-medium
    bg-orange-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
    </div>
  <% end %>

  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Celular</th>
        <th scope="col">Email</th>
        <th scope="col">Data de nascimento</th>
      </tr>
    <tbody>
    <% @municipes.each do |municipe| %>
      <%= render municipe %>
    <% end %>

    </tbody>
  </table>
  <%= paginate @municipes %>
</div>