<h1><%= @municipe.nome_completo %></h1>
<!-- Display municipe details here -->
<h2>Addresses</h2>

<p>
  <%= address.zip_code %><br>
  <%= address.street %><br>
  <%= address.neighborhood %><br>
  <%= address.city %><br>
  <%= address.state %>
</p>